<div class="row mt-4 md-4", id='person_details'>
  <div class="col-lg-8 mx-auto">
    <div class='card text-center shadow'>
      <div class='card-body mt-4' style="min-height:400px;">
        <% if person.detail %>
          <small class='fw-bold'>Name</small><br>
          <h5 class="card-title text-primary"><%= person.name %></h5>
          <small class='fw-bold'>Age</small><br>
          <h5 class="card-title text-primary"><%= person.detail.age %></h5>
          <small class='fw-bold'>Phone</small><br>
          <h5 class="card-title text-primary"><%= person.detail.phone %></h5>
          <small class='fw-bold'>Email</small><br>
          <h5 class="card-title text-primary"><%= person.detail.email %></h5><br>
          <%= link_to "Update Detail", edit_person_path(person), data: {turbo_stream: true}, class: 'btn btn-primary me-4'%>
          <%= link_to "Delete", person_path(person), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this person'}, id: "person_details_#{person.id}", class: 'btn btn-danger'%>
        <% end %>
      </div>
    </div>
  </div>
</div>